{% extends "final/layout.html" %}
{% load static %}

{% block body %}

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>   
{% endfor %}

<!-- each article -->
<div id="article_container">
    <div id="container_div">
        <h1>{{ article.title }}</h1>
        <br> 
        <cite class="text-muted">written by <a class="text-muted"href="{% url 'author' article.author %}">{{ article.author }}</a></cite>
        <br><br>
        <cite class="text-muted">{{ article.date }}</cite>
        <br><br>
        <cite class="text-muted">Category: {{ article_category }}</cite><br><br>
        {% if user.is_authenticated %}
        {% if in_read_later %}
        <form action="{% url 'read_later_remove' article.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">Remove from Read Later</button>
        </form>
        {% else %}
        <form action="{% url 'read_later_add' article.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">Add to Read Later</button>
        </form>
        {% endif %}
        {% endif %}
            <br>
            {% if user.is_authenticated %}
                <form class="rate-form" action="" method="post" id="{{ article.id }}">
                    {% csrf_token %}
                    <button type="submit" class="fa fa-star my_btn" id="first"></button>
                    <button type="submit" class="fa fa-star my_btn" id="second"></button>
                    <button type="submit" class="fa fa-star my_btn" id="third"></button>
                    <button type="submit" class="fa fa-star my_btn" id="fourth"></button>
                    <button type="submit" class="fa fa-star my_btn" id="fifth"></button>
                </form>
        {% endif %}
        <hr id="hr">
        <p id="article_text"> {{ article.text }} </p>
        <hr>
        <!-- New comment form -->
        {% if user.is_authenticated %}
            <form action="{% url 'comment' article.id %}" method="post">
                {% csrf_token %}
            <input id="comment-box" class="form-control" type="text" name="comment" placeholder="Add comment...">
            <br>
            <input type="submit" value="Comment" class="btn btn-secondary">
            </form>
            <br>
        {% endif %}
        <!-- view comments -->
        <p class="border-bottom">All Comments <span class="badge badge-secondary">{{ total_comments }}</span></p>
        <div class="container mt-5">
            {% for comment in comments %}
            <div class="row" >
                <div class="col-md-11">
                    <div class="card p-3" id="comment_view">
                        <div class="d-flex justify-content-between align-items-center">
                      <div class="user d-flex flex-row align-items-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTypACuX8ygmzipbD197uPBv40pqsvU8Egh-_Oo_xqg2OQqZbL1Cm-5XRxVcF3QjaocHCg&usqp=CAU" width="30" class="user-img rounded-circle mr-2">
                        <span><small class="font-weight-bold text-primary">{{ comment.user }}</small> 
                        <br>
                        <small class="font-weight-bold">{{ comment.comment }}</small><br>
                        <!-- to edit your comment -->
                        {% if user.is_authenticated and user == comment.user %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <button id="{{ comment.id }}" type="submit" class="btn btn-secondary btn-sm edit_btn">Edit</button>
                        </form>
                        {% endif %}
                        </span> 
                      </div>
                      <small class="text-muted">{{ comment.time }}</small>
                      </div>                    
                    </div>                
                </div>             
            </div>
            <br> 
            {% endfor %}    
        </div>
        <!-- to delete your article -->
        {% if user.is_authenticated and user == article.author  %}
            <button type="button" class="btn btn-secondary btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete this Article</button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this Article?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        This article will be deleted immediately. You can't undo this action.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                        <a href="{% url 'delete_article' article.id %}" class="btn btn-outline-primary">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
        {% endif %}             
    </div>

</div>

{% endblock %}
{% block script %}
    <script src="{% static 'final/index.js' %}"></script>
{% endblock %}


