{% extends "final/layout.html" %}
{% load static %}

{% block body %}

<div id="grid-div">
    <div class="grid-items"></div>
    <div class="grid-items">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTypACuX8ygmzipbD197uPBv40pqsvU8Egh-_Oo_xqg2OQqZbL1Cm-5XRxVcF3QjaocHCg&usqp=CAU" width="100" class="user-img rounded-circle mr-2"><br><br>
        <h2>Hi, I’m Hayaa.</h2>
        <p class="lead">I'm an 24-year-old passionate learner, interested in more or less everything in this world. I am studying at a business-focused high school, love to dance, do sports, cook and read.</p>
    </div>
</div>
  
{% endblock %}
{% block script %}
    <script src="{% static 'final/index.js' %}"></script>
{% endblock %}
