{% extends "final/layout.html" %}
{% load static %}

{% block body %}
<!-- Create New Article -->
   <div id="new_article_container">
        <div id="new_article_div">
            <h3>Create New Article</h3> 
            <form action="{% url 'new_article' %}" method="post">
                {% csrf_token %}
                <label for="form_need">Please Select Your Article Category</label>
                <select id="form_need" name="category" class="form-control" required="required" data-error="Please specify your need.">
                    {% for option in options %}
                        <option value="{{ option.id }}">{{ option }}</option>             
                    {% endfor %}
                </select><br>
                <label for="form_name">Title</label>
                <input type="text" name="title" class="form-control" placeholder="Title." required="required" data-error="Title is required."><br>  
                <label for="form_name">Brief</label>
                <textarea name="brief" placeholder="Write your brief here." class="form-control" style=" min-width:500px; max-width:100%;min-height:50px;height:100%;width:100%;" ></textarea><br> 
                <label for="form_name">Article</label>
                <textarea name="text" id="form_message" name="message" class="form-control" placeholder="Write your article here." rows="4" required="required"></textarea><br> 
                <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Share New Article" >               
            </form>
        </div>
   </div>

{% endblock %}
{% block script %}
    <script src="{% static 'final/index.js' %}"></script>
{% endblock %}
