{% extends "final/layout.html" %}
{% load static %}

{% block body %}

<header>
    <div id="search_div" class="container">
        <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-8">
            <form action="{% url 'search' %}" method="post">
              {% csrf_token %}
              <div class="input-group">
                <input name="search" type="text" class="form-control" placeholder="Search anything in your mind...">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    <div id="center_div">
        <h1 id="element1">All You Need is Read.</h1>
        <p id="element2" style="font-family: 'Brush Script MT', cursive;">“We are drowning in information but starved for knowledge.”</p>
    </div>
</header>
 

{% endblock %}
{% block script %}
    <script src="{% static 'final/index.js' %}"></script>
{% endblock %}
